<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.rain.projects.server.domain"/>
    </typeAliases>
    <mappers>
        <mapper resource="com.rain.projects.server.domain.UserMapper.xml"/>
    </mappers>
</configuration>